@model IEnumerable<SmartInsuranceHub.Models.Query>
@{
    ViewData["Title"] = "Contact Messages & Queries";
}

<div class="card table-custom">
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer Name</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.send_date.ToString("MMM dd, yyyy")</td>
                        <td>@item.name</td>
                        <td><strong>@item.subject</strong></td>
                        <td>@item.message</td>
                        <td>
                            <a href="/Query/Delete/@item.query_id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
